<style>
  input {
    border: 0;
  }
</style>
<a class="btn btn-primary" routerLink="/books">Book List</a>
<div class="container">
  <form [formGroup]="bookForm">
    <h1>Book Information</h1>
    <div class="mb-3">
      <label for="bookTitle" class="form-label">Book Title</label>
      <input readonly type="text" formControlName="title" name="title" class="form-control" id="bookTitle">
    </div>
    <div class="mb-3">
      <label for="bookAuthor" class="form-label">Book Author</label>
      <input readonly type="text" formControlName="author" name="author" class="form-control" id="bookAuthor">
    </div>
    <div class="mb-3">
      <label for="bookDescription" class="form-label">Book Description</label>
      <input readonly type="text" formControlName="description" name="description" class="form-control" id="bookDescription">
    </div>
  </form>
</div>

